@import url('https://fonts.googleapis.com/css?family=Caveat|Great+Vibes&display=swap');


body
{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #1C2541),
	color-stop(1, #5BC0BE)
	);
	background-image: -o-linear-gradient(bottom, #1C2541 0%, #5BC0BE 100%);
	background-image: -moz-linear-gradient(bottom, #1C2541 0%, #5BC0BE 100%);
	background-image: -webkit-linear-gradient(bottom, #1C2541 0%, #5BC0BE 100%);
	background-image: -ms-linear-gradient(bottom, #1C2541 0%, #5BC0BE 100%);
	background-image: linear-gradient(to bottom, #1C2541 0%, #5BC0BE 100%);
}

h1
{
	text-align:center;
	font-family: Times New Roman, Arial;
	color:#fff;
	font-size: 60px;
}

hr
{
	margin-bottom: 50px;
	color:#000;
}

div p
{
	font-size:20px;
	font-family: 'Caveat', Times New Roman, Arial;
	color:#fff;
	line-height: 30px;
}


div p:first-letter
{
	font-size:40px;
	font-family: 'Great Vibes', Times New Roman, Arial;
	color:#FFCD66;
}

figure
{
	text-align:center;
	color:#fff;
}

figure img
{
	width: 200px;
}

figure figcaption
{
	color:#FFCD66;
}

div
{
	width:80%;
	margin:auto;
}

div figure:nth-of-type(even)
{
	float:right;
}

div figure:nth-of-type(odd)
{
	float:left;
}

footer
{
	text-align:center;	
	font-family: Times New Roman, Arial;
}

a
{
	color:#fff;	
	font-size:20px;
}

a:hover
{
	color: #FFCD66;
}
